%h1#first.heading= "Hello from #{@type}!"
%p.paragraph
  Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Distinctio eius odio sunt fuga, consequatur, dolore cum ipsam tenetur rem neque error modi enim nobis maiores commodi adipisci dolorum aliquid amet?
